
<%= simple_form_for @book, html: {multipart: true} do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.file_field :picture %>
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :description %>
    <%= f.input :opnion %>
    <%= f.input :rating %>
    <%= f.input :read %>
    <%= f.input :wishlist %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
